
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="fs-3">Configurations</div>
        </div>
    </div><br>
    <div class="card shadow">
        <div class="card-body">
            <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="form-label fs-6">CNAME*</label>
                        <input type="text" class="w-100 form-control" formControlName="cname">
                        <span class="text-danger"
                            *ngIf="formdata.controls.cname.touched && formdata.controls.cname.invalid">Please
                            Enter CName</span><br>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label fs-6">CVALUE*</label>
                        <input type="text" class="w-100 form-control" formControlName="cvalue">
                        <span class="text-danger"
                            *ngIf="formdata.controls.cvalue.touched && formdata.controls.cvalue.invalid">Please
                            Enter CValue</span><br>
                    </div>
                </div>
                <input type="submit" value="SAVE" class="btn btn-success text-capitalize" [disabled]="!formdata.valid">
                <input type="reset" value="CLEAR" (click)="clear()" class="btn btn-info text-capitalize mx-2"
                    [disabled]="!formdata.valid">
            </form>
        </div>
    </div>
</div>
<div class="tabs-animation">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>No</th>
                        <th>CName</th>
                        <th>CValue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let configuration of configurations; let i = index">
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" (click)="delete(configuration.id)">DELETE</button>
                            <button type="button" class="btn btn-success mx-2 btn-sm"
                                (click)="edit(configuration.id)">EDIT</button>
                        </td>
                        <td>{{i + 1}}</td>
                        <td>{{configuration.cname}}</td>
                        <td>{{configuration.cvalue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>